// to use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

.large-map-wrapper
	svg
		g.state
			path
				fill none
				stroke black
				
		g.schools
			circle
				fill red
				stroke blue