// to use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

$colors_highlight_red = #ED1C24
$colors_map_1 = #4D4D4F
$colors_map_2 = #939598
$colors_map_3 = #E7E6DD
$colors_bw_4 = #DEDFE0

$benton = 'Benton', Helvetica, Arial, sans-serif
$sansSerif = Helvetica, Arial, sans-serif

// $bp = 480px

$mq_vars = {
    bp-1: '(min-width: 400px)'
    bp-2: '(min-width: 500px)'
}

$mq_cache = {}

mq($condition)
  helper($condition)
    unless $mq_cache[$condition]
      $mq_cache[$condition] = ()
    push($mq_cache[$condition], block)

  +helper($condition)
    {selector() + ''}
      {block}
            
apply_mq_cache()
  for $mq, $blocks in $mq_cache
    $mq = unquote($mq_vars[$mq] || $mq)
    $mq = '(%s)' % $mq unless match('\(', $mq)
    $mq = 'only screen and %s' % $mq
    @media $mq
      for $block in $blocks
        {$block}

.hide
	display none

.scene-maker.container
	position relative
	
	.scene-maker.chatter
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		line-height 1.5em
		
		.chatter
			font-family $sansSerif
			position absolute
			
			span.highlight
				padding 0.2em 0.4em
				font-weight bold
				
				&.zero
					background $colors_map_3 
					color black
				&.some
					background darken($colors_highlight_red, 25%)
					color white
			
			&[data-step='0']
				top 16%
				left 25%
				width 18em
				+mq('bp-2')
					top 22%
					left 30%

			&[data-step='2']
				top 55%
				left 5%
				width 50%
				+mq('bp-2')
					top 60%
					width 30%
					left 25%
		


	.scene-maker.scene
		width 100%
		height 0
		
		padding-bottom 65%
		
		position relative

		.annotations
			position absolute
			.annotation
				position absolute
				font-family $sansSerif
				transform translateY(-100%)
				line-height 0.75em
				max-width 5em
				margin-top -0.5em
				margin-left -1em
				background alpha(white, 0.5)
				padding 0.25em 0.25em 0.1em 0.25em
				span
					// text-shadow 0px 0px 0px $colors_map_3
					&.rate
						font-weight bold
					&.school
						font-size 0.7em
		svg
			position absolute
			top 0
			left 0
		
		.bubbles
			circle.none
				fill $colors_bw_4
				stroke @fill
			circle.some
				fill darken($colors_highlight_red, 25%)
				fill-opacity 0.35
				stroke darken(@fill, 50%)
				stroke-width 0.25px
			circle.highlight
				// stroke black
				stroke-width 2px
				fill-opacity 1
			path.map
				fill $colors_map_3
				fill-opacity 0.5
				
		.histogram
			rect
				shape-rendering crispEdges
				fill darken($colors_highlight_red, 25%)
				&.zero
					fill $colors_map_3
					
		.axis
			shape-rendering crispEdges
			
			&.x
				path,
				line
					fill none
					stroke $colors_map_2

			&.y
				path.domain
					fill none
					stroke none
				line
					fill none
					stroke white
			
			text
				font-family $sansSerif
				font-size 10px

apply_mq_cache()